﻿@model AutoBookRelease.Models.ReaderModel

@{
    ViewBag.Title = "Добавить читателя";
}

@using (Html.BeginForm("AddReader", "Reader", FormMethod.Post))
{

    <div class="form-group row" style="margin-top:10px; margin-left:0px; font-size:18px">
        <b>Добавить читателя</b>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Имя</label>
        <div class="col-sm-3">
            @Html.TextBoxFor(x => x.ReaderName , new { @class = "form-control" })
        </div>
        <div class="col-sm-1">
            <label class="text-danger">*</label>
        </div>
        <div class="col-sm-3 text-danger">
            @Html.ValidationMessageFor(m => m.ReaderName)
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Год рождения</label>
        <div class="col-sm-3">
            @Html.TextBoxFor(x => x.BirthDate, new { @id = "tbxDate", @class = "form-control", @onkeydown = "return false;" })
        </div>
        <div class="col-sm-1">
            <label class="text-danger">*</label>
        </div>
        <div class="col-sm-3 text-danger">
            @Html.ValidationMessageFor(m => m.BirthDate)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 "></div>
        <div class="col-sm-3">
            <button type="submit" style="width:100%" class="btn btn-default">Добавить</button>
        </div>
    </div>
}

<script>
    $(document).ready(function () {

        if ('@ViewBag.addResult'.toLowerCase() == "true") {
            alert('Читатель успешно добавлен');
        }
        else if ('@ViewBag.addResult'.toLowerCase() == "false") {
            alert('Ошибка при добавлении читателя');
        }

        $(".form-control").each(function () {
            $(this).val("");
        })

        $('#tbxDate').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            maxDate: "0d",
            dateFormat: 'dd.mm.yy'
        });

        $.validator.methods.date = function (value, element) {
            return this.optional(element) || moment(value, "DD.MM.YYYY", true).isValid();
        }
    })
</script>

