﻿@using AB.Core.Domain

@model IEnumerable<Reader>

@{
    ViewBag.Title = "Читатель";
}

<div class="form-group row" style="margin-top:10px; margin-left:0px; font-size:18px">
    <b>Книги</b>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Имя</label>
    <div class="col-sm-3">
        <input type="text" class="form-control" id="tbxReaderName" style="width:100%"/>
    </div>
    <div class="col-sm-3">
        <button type="submit" style="width:100%" class="btn btn-primary" onclick="searchBook()">Поиск</button>
    </div>
    <div class="col-sm-3">
        <a href="@Url.Action("Add","Reader")" style="width:100%" class="btn btn-primary" >Добавить читателя</a>
    </div>
</div>

<div style="max-height:700px; overflow-y:auto; margin-top:4px" >
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Дата рождения</th>
                <th scope="col">Операции</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Reader item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.BirthDate.ToString("dd.MM.yyyy")</td>
                    <td>
                        <a href="@Url.Action("Update","Reader", new { @readerId = item.Id})" style="width:100%; margin-bottom:3px" class="btn btn-default">Редактировать</a>
                        <a href="@Url.Action("DeleteReader","Reader", new { @readerId = item.Id})" style="width:100%" class="btn btn-default">Удалить</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<script>
    function searchBook() {
        window.location.href = '@Url.Action("SearchReader","Reader")' + '?readerName=' + encodeURI($("#tbxReaderName").val());
    }
</script>