﻿@model AutoBookRelease.Models.ReaderModel

@{
    ViewBag.Title = "Редактировать книгу";
}

@using (Html.BeginForm("UpdateReader", "Reader", FormMethod.Post))
{
    <div class="form-group row" style="margin-top:10px; margin-left:0px; font-size:18px">
        <b>Обновить читателя</b>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Имя</label>
        <div class="col-sm-3">
            @Html.HiddenFor(x=>x.Id)
            @Html.TextBoxFor(x => x.ReaderName , new { @class = "form-control" })
        </div>
        <div class="col-sm-1">
            <label class="text-danger">*</label>
        </div>
        <div class="col-sm-3 text-danger">
            @Html.ValidationMessageFor(m => m.ReaderName)
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Год рождения</label>
        <div class="col-sm-3">
            @Html.TextBoxFor(x => x.BirthDate, new { @id = "tbxDate", @class = "form-control", @onkeydown = "return false;" })
        </div>
        <div class="col-sm-1">
            <label class="text-danger">*</label>
        </div>
        <div class="col-sm-3 text-danger">
            @Html.ValidationMessageFor(m => m.BirthDate)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 "></div>
        <div class="col-sm-3">
            <button type="submit" style="width:100%" class="btn btn-default">Обновить</button>
        </div>
    </div>
}

<script>
    $(document).ready(function () {

        if ('@ViewBag.updateResult'.toLowerCase() == "true") {
            alert('Читатель успешно обновлен');
        }
        else if ('@ViewBag.updateResult'.toLowerCase() == "false") {
            alert('Ошибка при обновлении читателя');
        }

        $('#tbxDate').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            maxDate: "0d",
            dateFormat: 'dd.mm.yy'
        });

        $.validator.methods.date = function (value, element) {
            return this.optional(element) || moment(value, "DD.MM.YYYY", true).isValid();
        }

        $("#tbxDate").val($("#tbxDate").val().substr(0, 10));
    })
</script>