﻿@using AB.Core.Domain
@model AutoBookRelease.Models.GiveOutBookModel

@{
    ViewBag.Title = "Выданные книги";
}

@using (Html.BeginForm("GiveOutBookAction", "Book", FormMethod.Post))
{
    <div class="form-group row" style="margin-top:10px; margin-left:0px; font-size:18px">
        <b>Выдать книгу</b>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Наименование книги</label>
        <div class="col-sm-3">
            @Html.DropDownListFor(x => x.BookId, (ViewBag.AvailableBooks as IEnumerable<SelectListItem>), new { @class = "form-control" })
        </div>
        <div class="col-sm-1">
            <label class="text-danger">*</label>
        </div>
        <div class="col-sm-3 text-danger">
            @Html.ValidationMessageFor(m => m.BookId)
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Читатель</label>
        <div class="col-sm-3">
            @Html.DropDownListFor(x => x.ReaderId, (ViewBag.Readers as IEnumerable<SelectListItem>), new { @class = "form-control" })
        </div>
        <div class="col-sm-1">
            <label class="text-danger">*</label>
        </div>
        <div class="col-sm-3 text-danger">
            @Html.ValidationMessageFor(m => m.ReaderId)
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Дата выдачи</label>
        <div class="col-sm-3">
            @Html.TextBoxFor(x => x.GiveOutDate, new { @id = "tbxDate", @class = "form-control", @onkeydown = "return false;" })
        </div>
        <div class="col-sm-1">
            <label class="text-danger">*</label>
        </div>
        <div class="col-sm-3 text-danger">
            @Html.ValidationMessageFor(m => m.GiveOutDate)
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Количество дней</label>
        <div class="col-sm-3">
            @Html.TextBoxFor(x => x.GiveOutDays, new { @class = "form-control", @type="number", @id="tbxGiveOutDays"})
        </div>
        <div class="col-sm-1">
            <label class="text-danger">*</label>
        </div>
        <div class="col-sm-3 text-danger">
            @Html.ValidationMessageFor(m => m.GiveOutDays)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 "></div>
        <div class="col-sm-3">
            <button type="submit" style="width:100%" class="btn btn-primary">Выдать</button>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Наименование книги</th>
                <th scope="col">Кому выдана</th>
                <th scope="col">Количество дней</th>
                <th scope="col">Дата выдачи</th>
            </tr>
        </thead>
        <tbody>
            @foreach (GiveOutBook item in ViewBag.GivenOutBooks)
            {
                <tr>
                    <td>@item.Book.Name</td>
                    <td>@item.Reader.Name</td>
                    <td>@item.GiveOutDays</td>
                    <td>@item.GiveOutDate.ToString("dd.MM.yyyy")</td>
                </tr>
            }

        </tbody>
    </table>
}
<script>
    $(document).ready(function () {

        if ('@ViewBag.giveOutResult'.toLowerCase() == "true") {
            alert('Книга успешно выдана');
            $("#tbxGiveOutDays").val("");
            $("#tbxDate").val("");
        }
        else if ('@ViewBag.giveOutResult'.toLowerCase() == "false") {
            alert('Ошибка при выдаче книги');
        }

        $('#tbxDate').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            maxDate: "0d",
            dateFormat: 'dd.mm.yy'
        });

        $.validator.methods.date = function (value, element) {
            return this.optional(element) || moment(value, "DD.MM.YYYY", true).isValid();
        }
    })
</script>