﻿@using AB.Core.Domain

@model IEnumerable<Book>

@{
    ViewBag.Title = "Книги";
}

<div class="form-group row" style="margin-top:10px; margin-left:0px; font-size:18px">
    <b>Книги</b>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Наименование книги</label>
    <div class="col-sm-3">
        <input type="text" class="form-control" id="tbxBookName" style="width:100%"/>
    </div>
    <div class="col-sm-3">
        <button type="submit" style="width:100%" class="btn btn-primary" onclick="searchBook()">Поиск</button>
    </div>
    <div class="col-sm-3">
        <a href="@Url.Action("Add","Book")" style="width:100%" class="btn btn-primary" >Добавить книгу</a>
    </div>
</div>

<div style="max-height:700px; overflow-y:auto; margin-top:4px" >
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Наименование</th>
                <th scope="col">Автор</th>
                <th scope="col">Артикул</th>
                <th scope="col">Год</th>
                <th scope="col">Операции</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Book item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Author</td>
                    <td>@item.Index</td>
                    <td>@item.Year.ToString("dd.MM.yyyy")</td>
                    <td>
                        <a href="@Url.Action("Update","Book", new { @bookId = item.Id})" style="width:100%; margin-bottom:3px" class="btn btn-default">Редактировать</a>
                        <a href="@Url.Action("DeleteBook","Book", new { @bookId = item.Id})" style="width:100%" class="btn btn-default">Удалить</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<script>
    function searchBook() {
        window.location.href = '@Url.Action("SearchBook","Book")' + '?bookName=' + encodeURI($("#tbxBookName").val());
    }
</script>