﻿@model AutoBookRelease.Models.BookModel

@{
    ViewBag.Title = "Редактировать книгу";
}

@using (Html.BeginForm("UpdateBook", "Book", FormMethod.Post))
{
    <div class="form-group row" style="margin-top:10px; margin-left:0px; font-size:18px">
        <b>Добавить книгу</b>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Наименование</label>
        <div class="col-sm-3">
            @Html.HiddenFor(x=>x.Id)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>
        <div class="col-sm-1">
            <label class="text-danger">*</label>
        </div>
        <div class="col-sm-3 text-danger">
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Автор</label>
        <div class="col-sm-3">
            @Html.TextBoxFor(x => x.Author, new { @class = "form-control" })
        </div>
        <div class="col-sm-1">
            <label class="text-danger">*</label>
        </div>
        <div class="col-sm-3 text-danger">
            @Html.ValidationMessageFor(m => m.Author)
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Артикул</label>
        <div class="col-sm-3 text-danger">
            @Html.TextBoxFor(x => x.Index, new { @class = "form-control" })
        </div>
        <div class="col-sm-1">
            <label class="text-danger">*</label>
        </div>
        <div class="col-sm-3 text-danger">
            @Html.ValidationMessageFor(m => m.Index)
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Год издания</label>
        <div class="col-sm-3">
            @Html.TextBoxFor(x => x.Year, new { @id = "tbxDate", @class = "form-control", @onkeydown = "return false;" })
        </div>
        <div class="col-sm-1">
            <label class="text-danger">*</label>
        </div>
        <div class="col-sm-3 text-danger">
            @Html.ValidationMessageFor(m => m.Year)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 "></div>
        <div class="col-sm-3">
            <button type="submit" style="width:100%" class="btn btn-default">Обновить</button>
        </div>
    </div>
}

<script>
    $(document).ready(function () {

        if ('@ViewBag.updateResult'.toLowerCase() == "true") {
            alert('Книга успешно обновлена');
        }
        else if ('@ViewBag.updateResult'.toLowerCase() == "false") {
            alert('Ошибка при обновлении книги');
        }

        $('#tbxDate').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            maxDate: "0d",
            dateFormat: 'dd.mm.yy'
        });

        $.validator.methods.date = function (value, element) {
            return this.optional(element) || moment(value, "DD.MM.YYYY", true).isValid();
        }

        $("#tbxDate").val($("#tbxDate").val().substr(0, 10));
    })
</script>