﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/moment.js")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div style="width:20%; float:left; text-align:center; margin-top:3px; color:white">
                <b>Автоматизированное Рабочее Место Библиотекаря</b>
            </div>
            <div class="navbar-collapse collapse" style="float:left">

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Книги", "Index", "Book")</li>
                    <li>@Html.ActionLink("Читатели", "Index", "Reader")</li>
                    <li>@Html.ActionLink("Выданные книги", "GiveOutBooks", "Book")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>


</body>
</html>
